body {
  background-color  : #fff;
}

a {
  text-decoration : none;
  color           : #ff5252;
}

.stream li {
 list-style-type  : none;
}

.stream .date {
  font-family : "Josefin Sans", sans-serif;
  font-weight : 100;
  color       : #aaa;
  padding-top : 3em;
}

.stream .text {
  font-family : Georgia, Cambria, "Times New Roman", Times, serif;
  color       : #333;
  font-size   : 1.25em;
  padding-top : 0.5em;
}
