body {
  background-color  : #fff;
}

.stream li {
 list-style-type  : none;
}

.stream .date {
  color  : #ccc;
}

.stream .text {
  color  : #333;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}
