body {
  background-color  : #fff;
}

.stream li {
 list-style-type  : none;
}

.stream .date {
  font-family: "Ek Mukta", sans-serif;
  color  : #ccc;
}

.stream .text {
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  color  : #333;
}
